
body {
/*    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

html {
    width: 100%;
    height: 100%;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 25px;
}

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    /*color: #42DCA3;*/
}

a:focus, a:hover {
    text-decoration: none;
    /*color: #1d9b6c;*/
}

.card-body {
    padding: 20px 15px;
    text-align: left;
}

.card-title {
    text-align: center;
}

#mainNav {
    margin-bottom: 0;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
}

#mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: white;
    border: 1px solid white;
}

#mainNav .navbar-brand {
    font-weight: 600;
    text-transform: none;
}

#mainNav a {
    color: white;
}

#mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: white;
    background: url("../img/1.jpg") no-repeat bottom center scroll saddlebrown;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.masthead .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.masthead .intro-body .brand-heading {
    font-size: 50px;
    font-weight: 600;
}

.masthead .intro-body .intro-text {
    font-size: 20px;
    font-weight: 600;
}

.nav-phone {
    margin: auto;
    padding: 8px;
    font-weight: bold;
    color: #fff;
}

.btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
}

.bg-gray {
    padding: 50px 0;
    font-size: 14px;
    color: #313131;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.bg-white {
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #313131;
}

footer {
    padding: 25px 0;
    background-color: #ffffff;
    color: #313131;
    border-top: 1px solid #f1f1f1;
}

footer p {
    font-size: 14px;
    margin: 0;
}

::-moz-selection {
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
    text-shadow: none;
}

::selection {
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact ul li {
    position: relative;
    padding: 8px 0 8px 30px;
    text-align: left;
    font-size: 20px;
}

.contact ul li i {
    position: absolute;
    left: 0;
    text-align: center;
    line-height: 100%;
    top: 14px;
}

.contact-item {
    font-size: 22px;
    text-align: justify;
}

.portfolio-item {
    margin-bottom: 30px;
}

.section-title {
    font-size: 30px;
}

#map {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
}

.service-photo {
    border: 1px solid rgba(0,0,0,.125);
    overflow: hidden;
}

@media (max-width: 767px) {
    .contact ul li {
        padding: 8px 0 8px 30px;
        font-size: 16px;
    }

    .contact ul li i {
        top: 11px;
    }
    .nav-logo {
        display: none;
    }
}

@media (min-width: 768px) {
    p {
        font-size: 18px;
        line-height: 1.6;
        margin: 0 0 35px;
    }

    .masthead {
        height: 100%;
        padding: 0;
    }
    .masthead .intro-body .brand-heading {
        font-size: 80px;
    }
    .masthead .intro-body .intro-text {
        font-size: 40px;
    }

    .section-title {
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        letter-spacing: 1px;
        border-bottom: none;
        background: transparent;
    }
    #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.7);
    }
    #mainNav .nav-link.active {
        outline: none;
        background-color: rgba(255, 255, 255, 0.3);
    }
    #mainNav .nav-link.active:hover {
        color: white;
    }

    #map {
        height: 350px;
    }
}